.profileInfo {
    background: #282c34;
    padding: 0 0 25px 0;
    margin: 0 0 30px 0;
    grid-area: info;
}
/* background */
.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background div {
    width: 100%;
    height: 400px;
    backdrop-filter: blur(8px);
}/* ava */
.ava {
    overflow: hidden;
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 4px solid #282c34;
    border-radius: 50%;
    position: relative;
    bottom: 180px;
    margin: 0 0 -180px 0;
    left: calc(50% - 125px);
}
.ava img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.ava img {
    transition: transform .2s ease;
}
.ava:hover img {
    transform: scale(1.35);
}
/* name */
.name {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
}
/* location */
.location {
    text-align: center;
    font-weight: 300;
}