.settingsNavbar {
    grid-area: navbar;
    background-color: #282c34;
    margin: 0 0 0 30px;
    padding: 0 0 25px 0;
}
.settingsNavbar h2 {
    padding: 25px;
}
.settingsNavbar nav a{
    display: block;
    padding: 5px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.settingsNavbar a.active {
    background: #1f2228;
}