.intro {
    display: flex;
    align-items: flex-start;
    margin: 0 0 15px 0;
}
.intro > div {
    flex: 1 1 auto;
    margin: 0 5px 0 0;
}
.intro > div > div {
    display: flex;
}
.intro span {
    display: inline-block;
    width: 200px;
    line-height: 34px;
}
.intro input,
.intro textarea {
    flex: 1 1 auto;
    background-color: #1f2228;
    color: #c1c1c1;
    padding: 5px 10px;
    border: none;
}
.intro input {
    margin: 0 0 5px 0;
}
.intro textarea {
    resize: none;
}
.intro button {
    background-color: #ff3347;
    border: none;
}