.header {
    background-color: #004c99;
    color: #fff;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
}