.profileIntro {
    background: #282c34;
    padding: 25px;
    margin: 0 15px 30px 0;
    grid-area: intro;
}
.profileIntro h2 {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 0 25px 0;
    line-height: 100%;
    border-bottom: 1px solid #c1c1c133;
    color: #fff;
}
.profileIntro h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 25px 0 0 0;
    color: #fff;
}
.profileIntro p {
    margin: 5px 0 0 0;
}
.profileIntro h4 {
    margin: 8px 0 0 0;
}
.profileIntro .noInfo {
    margin: 20px 0 0 0;
}
.profileIntro .contacts {
    margin: 0;
}