.user {
    margin: 0 15px 15px 0;
    max-width: 180px;
}

.user img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.user h4 {
    text-align: center;
}

.user button {
    width: 100%;
}