.profilePosts {
    margin: 0 0 30px 15px;
    grid-area: posts;
}
/* addPostContainer */
.addPostContainer {
    background: #282c34;
    margin: 0 0 30px 0;
    display: flex;
    padding: 25px;
}
.addPostContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 15px 0 0;
}
.addPostContainer textarea {
    resize: none;
    min-height: 33px;
    height: 33px;
    width: 100%;
    border: none;
    background: #282c34;
    color: #fff;
    margin: 0 25px 0 0;
    overflow: hidden;
    position: relative;
    top: 7px;
}
.addPostContainer button {
    align-self: start;
    background-color: #e53e1c;
    border: none;
    color: #fff;
    padding: 2px 20px;
    cursor: pointer;
    font-size: 1.3em;
    transition: background-color .2s ease,
    color .2s ease;
}
.addPostContainer button:hover {
    background-color: #fff;
    color: #e53e1c;
}
/* postsContainer */
.postsContainer {

}